.gifts {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/12/16/15/25/christmas-1911637_1280.jpg");
  color: #eee;
}
.gifts-container {
  background-color: #b53b10;
  padding: 2rem;
  border-radius: 1rem;
  border: 5px dashed #eee;
}
